
.header-wrapper{
    display: flex;
    justify-content: center;
}
.header {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-wrapper{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    justify-content: center ;
}
.grid {
    flex-direction: row;
    border: 1px solid #00000036;
    flex-grow: 1;
    min-width: 31px;
    max-width: 31px;
    box-sizing: border-box;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#reset{
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    background-color: bisque;
}
#reset:hover{
    color:#fa0101;
    background-color: #FFFFFF;;
}
